In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_colwidth', -1)

c:\users\omar\anaconda3\envs\virtual_workspace\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

## Epapoutsia

In [3]:
epapoutsia = pd.read_csv('epapoutsia.csv')
epapoutsia['brand'].value_counts()

Geox              3488
Gino_Rossi        2453
Guess             2004
Tommy_Hilfiger    1661
Eva_Minge         1555
                  ...
Dolce_Pietro      1
Pabia             1
Brooks            1
Franco            1
Sioux             1
Name: brand, Length: 515, dtype: int64

In [4]:
epapoutsia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75364 entries, 0 to 75363
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     75364 non-null  object
 1   website_id        75364 non-null  int64
 2   main_website_url  75364 non-null  object
 3   product_link      75364 non-null  object
 4   product_title     75364 non-null  object
 5   old_price         60726 non-null  object
 6   new_price         60726 non-null  object
 7   price             14550 non-null  object
 8   brand             75364 non-null  object
 9   product_code      75364 non-null  object
 10  images            75364 non-null  object
dtypes: int64(1), object(10)
memory usage: 6.3+ MB

In [5]:
epapoutsia['brand'].duplicated().sum()

74849

In [6]:
epapoutsia['scraping_time'] = pd.to_datetime(epapoutsia['scraping_time'])
epapoutsia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75364 entries, 0 to 75363
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     75364 non-null  datetime64[ns]
 1   website_id        75364 non-null  int64
 2   main_website_url  75364 non-null  object
 3   product_link      75364 non-null  object
 4   product_title     75364 non-null  object
 5   old_price         60726 non-null  object
 6   new_price         60726 non-null  object
 7   price             14550 non-null  object
 8   brand             75364 non-null  object
 9   product_code      75364 non-null  object
 10  images            75364 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 6.3+ MB

In [7]:
try:
    epapoutsia['old_price'] = epapoutsia['old_price'].str.strip()
    epapoutsia['old_price'] = epapoutsia['old_price'].str.strip('€')
    epapoutsia['old_price'] = epapoutsia['old_price'].str.replace('.', '')
    epapoutsia['old_price'] = epapoutsia['old_price'].str.replace(',', '.')
    epapoutsia['old_price'] = epapoutsia['old_price'].astype(float)
except:
    pass
# epapoutsia['old_price'] = epapoutsia['old_price'].str.strip()
# epapoutsia['old_price'] = epapoutsia['old_price'].str.strip('€')


# epapoutsia['old_price'] = epapoutsia['old_price'].astype(float)
epapoutsia['old_price'].values

array([   nan,  71.  ,  34.95, ...,  69.9 , 412.  ,  47.  ])

In [8]:
try:
    epapoutsia['new_price'] = epapoutsia['new_price'].str.strip()
    epapoutsia['new_price'] = epapoutsia['new_price'].str.strip('€')
    epapoutsia['new_price'] = epapoutsia['new_price'].str.replace('.', '')
    epapoutsia['new_price'] = epapoutsia['new_price'].str.replace(',', '.')
    epapoutsia['new_price'] = epapoutsia['new_price'].astype(float)
except:
    pass
# epapoutsia['old_price'] = epapoutsia['old_price'].str.strip()
# epapoutsia['old_price'] = epapoutsia['old_price'].str.strip('€')


# epapoutsia[epapoutsia['new_price'] == 1021.00]
# epapoutsia['old_price'] = epapoutsia['old_price'].astype(float)
epapoutsia['new_price'].value_counts()

43.00     2708
40.00     2516
45.00     2420
47.00     2409
52.00     2286
          ...
438.00    1
76.95     1
142.00    1
136.00    1
488.00    1
Name: new_price, Length: 417, dtype: int64

In [9]:
try:
    epapoutsia['price'] = epapoutsia['price'].str.strip()
    epapoutsia['price'] = epapoutsia['price'].str.strip('€')
    epapoutsia['price'] = epapoutsia['price'].str.replace('.', '')
    epapoutsia['price'] = epapoutsia['price'].str.replace(',', '.')
    epapoutsia['price'] = epapoutsia['price'].astype(float)
except:
    pass
# epapoutsia['old_price'] = epapoutsia['old_price'].str.strip()
# epapoutsia['old_price'] = epapoutsia['old_price'].str.strip('€')


# epapoutsia[epapoutsia['price'] == 1021.00]
# epapoutsia['old_price'] = epapoutsia['old_price'].astype(float)
epapoutsia['price'].value_counts()

24.95     702
29.95     526
34.95     497
71.00     347
83.00     341
         ...
324.00    1
481.00    1
84.90     1
685.00    1
485.00    1
Name: price, Length: 359, dtype: int64

In [10]:
epapoutsia['images'].sample()

20616    //www.epapoutsia.gr/media/catalog/product/cache/image/650x650/0/0/0000207509115_01_rz.jpg
Name: images, dtype: object

In [11]:
def concat_string(x):
    return "https:" + x
epapoutsia['images'] = epapoutsia['images'].apply(concat_string)
epapoutsia['images'].sample()

13742    https://www.epapoutsia.gr/media/catalog/product/cache/image/650x650/0/0/0000200784014_07_mt.jpg
Name: images, dtype: object

In [12]:
epapoutsia['product_code'] = epapoutsia['product_code'].str.strip()
epapoutsia['product_code'].sample()

36316    D Jaysen A D021BA 022BC C6738 Lt Taupe
Name: product_code, dtype: object

In [13]:
epapoutsia.to_csv('epapoutsia_mod.csv', index=False)

## Myshoe

In [47]:
myshoe = pd.read_csv('myshoe.csv')
myshoe.columns

Index(['scraping_time', 'website_id', 'main_website_url', 'product_link',
       'product_title', 'old_price', 'new_price', 'price', 'brand',
       'product_code', 'images'],
      dtype='object')

In [48]:
myshoe[myshoe['product_code'] == 'Buffalo 17032-3 .']['product_link']

757    https://www.myshoe.gr/gynaikeia/galotses/buffalo-17032-3-_p-892090.aspx?Org=892064
758    https://www.myshoe.gr/gynaikeia/galotses/buffalo-17032-3-_p-892067.aspx?Org=892064
759    https://www.myshoe.gr/gynaikeia/galotses/buffalo-17032-3-_p-892086.aspx?Org=892064
768    https://www.myshoe.gr/gynaikeia/galotses/buffalo-17032-3-_p-892096.aspx?Org=892064
796    https://www.myshoe.gr/gynaikeia/galotses/buffalo-17032-3-_p-892077.aspx?Org=892064
Name: product_link, dtype: object

In [49]:
myshoe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11133 entries, 0 to 11132
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     11133 non-null  object
 1   website_id        11133 non-null  int64
 2   main_website_url  11133 non-null  object
 3   product_link      11133 non-null  object
 4   product_title     11133 non-null  object
 5   old_price         9958 non-null   object
 6   new_price         11133 non-null  object
 7   price             11133 non-null  object
 8   brand             11132 non-null  object
 9   product_code      11133 non-null  object
 10  images            11133 non-null  object
dtypes: int64(1), object(10)
memory usage: 956.9+ KB

In [50]:
myshoe['scraping_time'] = pd.to_datetime(myshoe['scraping_time'])
myshoe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11133 entries, 0 to 11132
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     11133 non-null  datetime64[ns]
 1   website_id        11133 non-null  int64
 2   main_website_url  11133 non-null  object
 3   product_link      11133 non-null  object
 4   product_title     11133 non-null  object
 5   old_price         9958 non-null   object
 6   new_price         11133 non-null  object
 7   price             11133 non-null  object
 8   brand             11132 non-null  object
 9   product_code      11133 non-null  object
 10  images            11133 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 956.9+ KB

In [51]:
try:
    myshoe['old_price'] = myshoe['old_price'].str.strip('€')
    myshoe['old_price'] = myshoe['old_price'].astype(float)
except:
    pass
myshoe['old_price'].values

array([ 22.99,  16.99, 144.9 , ..., 199.  ,  58.  ,  23.  ])

In [52]:
try:
    myshoe['new_price'] = myshoe['new_price'].str.replace(u'\xa0', u'')
    myshoe['new_price'] = myshoe['new_price'].str.strip('€')
    myshoe['new_price'] = myshoe['new_price'].str.strip()
    # myshoe['new_price'].str.replace(r'', np.NaN)
    myshoe['new_price'] = myshoe['new_price'].replace(r'^\s*$', np.nan, regex=True)
    myshoe['new_price'] = myshoe['new_price'].astype(float)
except:
    pass
myshoe['new_price'].values

array([ 18.4,  13.6, 130.4, ..., 151.9,  34.2,  13.5])

In [53]:
try:
    myshoe['price'] = myshoe['price'].str.replace(u'\xa0', u'')
    myshoe['price'] = myshoe['price'].str.strip('€')
    myshoe['price'] = myshoe['price'].str.strip()
    # myshoe['new_price'].str.replace(r'', np.NaN)
    myshoe['price'] = myshoe['price'].replace(r'^\s*$', np.nan, regex=True)
    myshoe['price'] = myshoe['price'].astype(float)
except:
    pass

In [54]:
def concat_string(x):
    return "https://www.myshoe.gr" + x
myshoe['images'] = myshoe['images'].apply(concat_string)
myshoe['images'].values

array(['https://www.myshoe.gr/Images/Products/Normal/2700000/2700235.jpg',
       'https://www.myshoe.gr/Images/Products/Normal/2700000/2700229.jpg',
       'https://www.myshoe.gr/Images/Products/Normal/2670000/2673037.jpg',
       ...,
       'https://www.myshoe.gr/Images/Products/Normal/2110000/2117345.jpg',
       'https://www.myshoe.gr/Images/Products/Normal/2670000/2678226.jpg',
       'https://www.myshoe.gr/Images/Products/Normal/2690000/2691466.jpg'],
      dtype=object)

In [55]:
myshoe['images']

0        https://www.myshoe.gr/Images/Products/Normal/2700000/2700235.jpg
1        https://www.myshoe.gr/Images/Products/Normal/2700000/2700229.jpg
2        https://www.myshoe.gr/Images/Products/Normal/2670000/2673037.jpg
3        https://www.myshoe.gr/Images/Products/Normal/2680000/2682719.jpg
4        https://www.myshoe.gr/Images/Products/Normal/2690000/2699174.jpg
                                       ...
11128    https://www.myshoe.gr/Images/Products/Normal/2670000/2678214.jpg
11129    https://www.myshoe.gr/Images/Products/Normal/2670000/2678282.jpg
11130    https://www.myshoe.gr/Images/Products/Normal/2110000/2117345.jpg
11131    https://www.myshoe.gr/Images/Products/Normal/2670000/2678226.jpg
11132    https://www.myshoe.gr/Images/Products/Normal/2690000/2691466.jpg
Name: images, Length: 11133, dtype: object

In [56]:
myshoe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11133 entries, 0 to 11132
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     11133 non-null  datetime64[ns]
 1   website_id        11133 non-null  int64
 2   main_website_url  11133 non-null  object
 3   product_link      11133 non-null  object
 4   product_title     11133 non-null  object
 5   old_price         9958 non-null   float64
 6   new_price         11113 non-null  float64
 7   price             11113 non-null  float64
 8   brand             11132 non-null  object
 9   product_code      11133 non-null  object
 10  images            11133 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 956.9+ KB

In [57]:
myshoe.to_csv('myshoe_mod.csv', index=False)

## Sakellaris

In [14]:
sakellaris = pd.read_csv('sakellaris.csv')
sakellaris['website_id'] = sakellaris['website_id'].replace(249, 250)
sakellaris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     2776 non-null   object
 1   website_id        2776 non-null   int64
 2   main_website_url  2776 non-null   object
 3   product_link      2776 non-null   object
 4   product_title     2776 non-null   object
 5   old_price         2459 non-null   object
 6   new_price         2776 non-null   object
 7   price             2776 non-null   object
 8   brand             2776 non-null   object
 9   product_code      2776 non-null   object
 10  images            2776 non-null   object
dtypes: int64(1), object(10)
memory usage: 238.7+ KB

In [15]:
sakellaris['scraping_time'] = pd.to_datetime(sakellaris['scraping_time'])
sakellaris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     2776 non-null   datetime64[ns]
 1   website_id        2776 non-null   int64
 2   main_website_url  2776 non-null   object
 3   product_link      2776 non-null   object
 4   product_title     2776 non-null   object
 5   old_price         2459 non-null   object
 6   new_price         2776 non-null   object
 7   price             2776 non-null   object
 8   brand             2776 non-null   object
 9   product_code      2776 non-null   object
 10  images            2776 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 238.7+ KB

In [16]:
try:
    sakellaris['old_price'] = sakellaris['old_price'].str.strip('€')
    sakellaris['old_price'] = sakellaris['old_price'].str.strip('\xa0')
    sakellaris['old_price'] = sakellaris['old_price'].str.replace(',', '.')
    sakellaris['old_price'] = sakellaris['old_price'].astype(float)
except AttributeError:
    pass
sakellaris['old_price'].values

array([50., 75., 75., ..., 99., nan, nan])

In [17]:
try:
    sakellaris['new_price'] = sakellaris['new_price'].str.strip('€')
    sakellaris['new_price'] = sakellaris['new_price'].str.strip('\xa0')
    sakellaris['new_price'] = sakellaris['new_price'].str.replace(',', '.')
    sakellaris['new_price'] = sakellaris['new_price'].astype(float)
except:
    pass
sakellaris['new_price'].value_counts()

99.0     428
59.0     333
89.0     317
69.0     243
79.0     150
        ...
9.0      1
250.0    1
145.0    1
229.0    1
139.0    1
Name: new_price, Length: 62, dtype: int64

In [18]:
try:
    sakellaris['price'] = sakellaris['price'].str.strip('€')
    sakellaris['price'] = sakellaris['price'].str.strip('\xa0')
    sakellaris['price'] = sakellaris['price'].str.replace(',', '.')
    sakellaris['price'] = sakellaris['price'].astype(float)
except:
    pass
sakellaris['price'].value_counts()

99.0     428
59.0     333
89.0     317
69.0     243
79.0     150
        ...
9.0      1
250.0    1
145.0    1
229.0    1
139.0    1
Name: price, Length: 62, dtype: int64

In [19]:
sakellaris.to_csv('sakellaris_mod.csv', index=False)

## Mortoglou

In [27]:
mortoglou = pd.read_csv('mortoglou.csv')
mortoglou.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3631 entries, 0 to 3630
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     3631 non-null   object
 1   website_id        3631 non-null   int64
 2   main_website_url  3631 non-null   object
 3   product_link      3631 non-null   object
 4   product_title     3631 non-null   object
 5   old_price         3595 non-null   object
 6   new_price         3595 non-null   object
 7   price             36 non-null     object
 8   brand             3631 non-null   object
 9   product_code      3631 non-null   object
 10  images            3631 non-null   object
dtypes: int64(1), object(10)
memory usage: 312.2+ KB

In [28]:
mortoglou['scraping_time'] = pd.to_datetime(mortoglou['scraping_time'])
mortoglou.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3631 entries, 0 to 3630
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     3631 non-null   datetime64[ns]
 1   website_id        3631 non-null   int64
 2   main_website_url  3631 non-null   object
 3   product_link      3631 non-null   object
 4   product_title     3631 non-null   object
 5   old_price         3595 non-null   object
 6   new_price         3595 non-null   object
 7   price             36 non-null     object
 8   brand             3631 non-null   object
 9   product_code      3631 non-null   object
 10  images            3631 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 312.2+ KB

In [29]:
try:
    mortoglou['old_price'] = mortoglou['old_price'].str.strip('€')
    mortoglou['old_price'] = mortoglou['old_price'].str.replace(',', '.')
    mortoglou['old_price'] = mortoglou['old_price'].astype(float)
except AttributeError:
    pass
mortoglou['old_price'].value_counts()

99.00     231
119.00    147
89.00     141
69.00     121
109.00    116
         ...
62.95     1
131.00    1
289.90    1
21.90     1
67.95     1
Name: old_price, Length: 212, dtype: int64

In [30]:
mortoglou['price'].value_counts()

90,00€     6
100,00€    3
45,00€     3
35,00€     3
59,00€     2
85,00€     2
80,00€     2
139,00€    2
125,00€    1
119,00€    1
99,90€     1
160,00€    1
175,00€    1
159,00€    1
149,00€    1
89,00€     1
195,00€    1
20,00€     1
75,00€     1
30,00€     1
49,00€     1
Name: price, dtype: int64

In [31]:
try:
    mortoglou['new_price'] = mortoglou['new_price'].str.strip('€')
    mortoglou['new_price'] = mortoglou['new_price'].str.replace(',', '.')
    mortoglou['new_price'] = mortoglou['new_price'].astype(float)
except:
    pass
mortoglou['new_price'].value_counts()

79.0     156
49.0     150
44.0     94
59.0     89
39.0     89
         ..
189.0    1
62.3     1
245.0    1
153.0    1
207.0    1
Name: new_price, Length: 194, dtype: int64

In [32]:
try:
    mortoglou['price'] = mortoglou['price'].str.strip('€')
    mortoglou['price'] = mortoglou['price'].str.replace(',', '.')
    mortoglou['price'] = mortoglou['price'].astype(float)
except:
    pass
mortoglou['price'].value_counts()

90.0     6
100.0    3
45.0     3
35.0     3
59.0     2
139.0    2
80.0     2
85.0     2
195.0    1
20.0     1
30.0     1
160.0    1
49.0     1
175.0    1
119.0    1
125.0    1
89.0     1
149.0    1
75.0     1
159.0    1
99.9     1
Name: price, dtype: int64

In [33]:
mortoglou['images'].values

array(['https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/125-24HRS/125-24657~11-01-24_1-800x1100w.jpg',
       'https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/359-SixtySeven/359-30301~11-02-24_1-800x1100w.jpg',
       'https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/115-Alpe/115-4396~11-02-24_1-800x1100w.jpg',
       ...,
       'https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/104-MF/104-2042.2601N.CR~15-01-24_1-800x1100w.jpg',
       'https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/105-Tamaris/105-25620~11-06-24_1-800x1100w.jpg',
       'https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/105-Tamaris/105-22420~29-06-24_1-800x1100w.jpg'],
      dtype=object)

In [34]:
mortoglou[mortoglou['product_code'].duplicated()]

,scraping_time,website_id,main_website_url,product_link,product_title,old_price,new_price,price,brand,product_code,images
341,2020-12-18 20:32:33.775027,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/portofolia-a1bys-kafe-derma-timberland-el,Ανδρικά Πορτοφόλια A1BYS Καφέ Δέρμα Timberland,65.00,58.0,NaN,Timberland,A1BYS-Brown,https://www.mortoglou.gr/image/cache/products-new/images/2019-Winter/101-Timberland/101-A1BYS~15-01-22_1-800x1100w.jpg
589,2020-12-18 20:34:20.690665,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/zones-a1dq8-kafe-derma-timberland-el,Ανδρικές Ζώνες A1DQ8 Καφέ Δέρμα Timberland,59.00,53.0,NaN,Timberland,A1DQ8-Brown,https://www.mortoglou.gr/image/cache/products-new/images/2019-Winter/101-Timberland/101-A1DQ8~15-01-22_1-800x1100w.jpg
626,2020-12-18 20:34:36.066926,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/andrika-mokasinia-n6097-tampa-derma-boss-shoes-el,Ανδρικά Μοκασίνια N6097 Ταμπά Δέρμα Boss shoes,139.00,99.0,NaN,Boss shoes,N6097-Tabba,https://www.mortoglou.gr/image/cache/products-new/images/2020-Summer/111-Bossshoes/111-N6097~12-01-23_1-800x1100w.jpg
639,2020-12-18 20:34:40.065362,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/andrika-pantelonia-a1nwv-mpez-vamvaki-timberland-el-2-5914,Ανδρικά Παντελόνια A1NWV Μπεζ Βαμβάκι Timberland,90.00,62.0,NaN,Timberland,A1NWV-Beige,https://www.mortoglou.gr/image/cache/products-new/images/2019-Winter/101-Timberland/101-A1NWV~18-04-22_1-800x1100h.jpg
644,2020-12-18 20:34:42.452389,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/zones-b600-kafe-derma-mortoglou-el,Ανδρικές Ζώνες B600 Καφέ Δέρμα Mortoglou,35.00,29.0,NaN,Mortoglou,B600-Brown,https://www.mortoglou.gr/image/cache/products-new/images/2019-Summer/102-Mortoglou/102-B600~15-01-21_1-800x1100w.jpg
660,2020-12-18 20:34:48.471746,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/andrikes-sagionares-pedila-arizona-bs-m-mauro-ecoleather-birkenstock-el,Ανδρικές Σαγιονάρες & Πέδιλα Arizona.Bs.M Μαύρο ECOleather Birkenstock,75.00,63.0,NaN,Birkenstock,Arizona.Bs.M-Black,https://www.mortoglou.gr/image/cache/products-new/images/2019-Summer/123-Birkenstock/123-Arizona.Bs.M~11-06-21_1-800x1100w.jpg
663,2020-12-18 20:34:50.172217,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/zones-387-12-tampa-derma-mortoglou-el-2-5178,Ανδρικές Ζώνες 387.12 Ταμπά Δέρμα Mortoglou,55.00,49.0,NaN,Mortoglou,387.12-Tabba,https://www.mortoglou.gr/image/cache/products-new/images/2019-Summer/102-Mortoglou/102-387.12~12-01-21_1-800x1100w.jpg
1593,2020-12-18 20:42:56.196350,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/paidika-papoutsia-casual-evan-mple-ecosuede-u-s-polo-assn-el-2-12296,Παιδικά Παπούτσια Casual Evan Μπλε ECOsuede U.S. Polo Assn.,55.00,49.0,NaN,U.S. Polo Assn.,Evan-Blue,https://www.mortoglou.gr/image/cache/products-new/images/2020-Summer/110-US-Polo/110-Evan~13-09-23_1-800x1100w.jpg
2478,2020-12-18 20:48:24.670090,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-pedila-flat-1-tampa-derma-komis-and-komis-el,Γυναικεία Πέδιλα Flat 1 Ταμπά Δέρμα Komis and Komis,69.00,34.0,NaN,Komis and Komis,1-Tabba,https://www.mortoglou.gr/image/cache/products-new/images/2020-Summer/122-KomisandKomis/122-1~12-01-23_1-800x1100w.jpg
2486,2020-12-18 20:48:27.981735,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeies-sagionares-pedila-arizona-bs-asimi-ecoleather-birkenstock-el,Γυναικεία Πέδιλα Flat Arizona.BS Ασημί ECOleather Birkenstock,80.00,68.0,NaN,Birkenstock,Arizona.BS-Silver,https://www.mortoglou.gr/image/cache/products-new/images/2018-Summer/123-Birkenstock/123-Arizona.BS~26-06-19_1-800x1100w.jpg
2507,2020-12-18 20:48:34.940640,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-pedila-flat-mayari-kafe-derma-noumpouk-birkenstock-el,Γυναικεία Πέδιλα Flat Mayari Καφέ Δέρμα Νούμπουκ Birkenstock,80.00,68.0,NaN,Birkenstock,Mayari-Brown,https://www.mortoglou.gr/image/cache/products-new/images/2020-Summer/123-Birkenstock/123-Mayari~15-10-23_1-800x1100w.jpg
2564,2020-12-18 20:48:55.631127,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/tsantes-urano-mauro-ecoleather-sixtyseven-el,Γυναικείες Τσάντες Urano Μαύρο ECOleather Sixtyseven,79.00,49.0,NaN,Sixtyseven,Urano-Black,https://www.mortoglou.gr/image/cache/products-new/images/2019-Winter/359-SixtySeven/359-Urano~11-06-22_1-800x1100w.jpg
2574,2020-12-18 20:48:58.608880,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-pedila-flat-j02766-pouro-derma-ladero-merrell-el,Γυναικεία Πέδιλα Flat J02766 Πούρο Δέρμα Λαδερό Merrell,72.00,36.0,NaN,Merrell,J02766-Taupe,https://www.mortoglou.gr/image/cache/products-new/images/2020-Summer/166-Merrell/166-J02766~20-05-23_1-800x1100w.jpg
2752,2020-12-18 20:50:07.843198,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-mpotakia-15-230-mauro-derma-makis-kotris-el-2-11936,Γυναικεία Μποτάκια 15.230 Μαύρο Δέρμα Makis Kotris,130.00,104.0,NaN,Makis Kotris,15.230-Black,https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/219-MakisKotris/219-15.230~11-01-24_1-800x1100w.jpg
2784,2020-12-18 20:50:20.010456,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeies-goves-peeptoes-psiles-s90-fw20-mauro-derma-mortoglou-el,Γυναικείες Γόβες & Peeptoes Ψηλές S90.FW20 Μαύρο Δέρμα Mortoglou,119.00,59.0,NaN,Mortoglou,S90.FW20-Black,https://www.mortoglou.gr/image/cache/products-new/images/2019-Winter/102-Mortoglou/102-S90.FW20~11-01-22_1-800x1100w.jpg
2800,2020-12-18 20:50:24.469811,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-mpotakia-24414-mauro-derma-tamaris-el,Γυναικεία Μποτάκια 24414 Μαύρο Δέρμα Tamaris,79.95,63.0,NaN,Tamaris,24414-Black,https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/105-Tamaris/105-24414~11-06-24_1-800x1100w.jpg
3007,2020-12-18 20:51:27.133666,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-mokasinia-24655-mauro-derma-24hrs-el,Γυναικεία Μοκασίνια 24655 Μαύρο Δέρμα 24HRS,119.00,95.0,NaN,24HRS,24655-Black,https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/125-24HRS/125-24655~11-01-24_1-800x1100w.jpg
3100,2020-12-18 20:52:00.436553,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-foremata-olosomes-formes-drew-multi-vamvaki-pepe-jeans-el,Γυναικεία Φορέματα - Ολόσωμες Φόρμες Drew Multi Βαμβάκι Pepe Jeans,84.00,58.0,NaN,Pepe Jeans,Drew-Multi,https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/107-PepeJeans/107-Drew~43-04-24_1-800x1100w.jpg
3165,2020-12-18 20:52:20.060307,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeies-mplouzes-top-fabia-mauro-lino-pepe-jeans-el,Γυναικείες Μπλούζες - Τοπ Fabia Μαύρο Λινό Pepe Jeans,48.00,33.0,NaN,Pepe Jeans,Fabia-Black,https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/107-PepeJeans/107-Fabia~11-22-24_1-800x1100w.jpg
3225,2020-12-18 20:52:38.413909,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeies-foustes-sorts-paloma-mauro-ecoleather-guess-el,Γυναικείες Φούστες - Σορτς Paloma Μαύρο ECOleather Guess,99.90,79.0,NaN,Guess,Paloma-Black,https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/231-Guess/231-Paloma~11-06-24_1-800x1100w.jpg
3334,2020-12-18 20:53:09.749497,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-mpotakia-4236-tampa-derma-alpe-el,Γυναικεία Μποτάκια 4236 Ταμπά Δέρμα Alpe,95.00,76.0,NaN,Alpe,4236-Tabba,https://www.mortoglou.gr/image/cache/products-new/images/2020-Winter/115-Alpe/115-4236~12-01-24_1-800x1100w.jpg
3413,2020-12-18 20:53:35.328503,252,https://www.mortoglou.gr/,https://www.mortoglou.gr/gunaikeia-mpotakia-4-mauro-derma-kastori-mortoglou-el,Γυναικεία Μποτάκια 4 Μαύρο Δέρμα Καστόρι Mortoglou,89.00,44.0,NaN,Mortoglou,4-Black,https://www.mortoglou.gr/image/cache/products-new/images/2019-Winter/102-Mortoglou/102-4~11-02-22_1-800x1100w.jpg

In [35]:
mortoglou.to_csv('mortoglou_mod.csv', index=False)

## Giannakazakou

In [20]:
giannakazakou = pd.read_csv('giannakazakou.csv')
giannakazakou.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4388 entries, 0 to 4387
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     4388 non-null   object
 1   website_id        4388 non-null   int64
 2   main_website_url  4388 non-null   object
 3   product_link      4388 non-null   object
 4   product_title     4388 non-null   object
 5   old_price         3472 non-null   object
 6   new_price         3472 non-null   object
 7   price             916 non-null    object
 8   brand             4388 non-null   object
 9   product_code      4388 non-null   object
 10  images            4388 non-null   object
dtypes: int64(1), object(10)
memory usage: 377.2+ KB

In [21]:
giannakazakou['scraping_time'] = pd.to_datetime(giannakazakou['scraping_time'])
giannakazakou.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4388 entries, 0 to 4387
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     4388 non-null   datetime64[ns]
 1   website_id        4388 non-null   int64
 2   main_website_url  4388 non-null   object
 3   product_link      4388 non-null   object
 4   product_title     4388 non-null   object
 5   old_price         3472 non-null   object
 6   new_price         3472 non-null   object
 7   price             916 non-null    object
 8   brand             4388 non-null   object
 9   product_code      4388 non-null   object
 10  images            4388 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 377.2+ KB

In [22]:
try:
    giannakazakou['old_price'] = giannakazakou['old_price'].str.replace(u'€', '') 
    giannakazakou['old_price'] = giannakazakou['old_price'].str.replace(',', '.')
    giannakazakou['old_price'] = giannakazakou['old_price'].astype(float)
except AttributeError:
    pass

giannakazakou['old_price'].value_counts()

79.00    281
89.00    280
99.00    245
59.00    224
69.00    197
        ...
47.99    1
74.95    1
56.95    1
18.90    1
17.90    1
Name: old_price, Length: 161, dtype: int64

In [23]:
try:
    giannakazakou['new_price'] = giannakazakou['new_price'].str.replace(u'€', '') 
    giannakazakou['new_price'] = giannakazakou['new_price'].str.replace(',', '.')
    giannakazakou['new_price'] = giannakazakou['new_price'].astype(float)
except:
    pass

giannakazakou['new_price'].value_counts()

35.0    281
49.0    245
55.0    236
45.0    221
59.0    180
       ...
19.9    1
41.9    1
22.9    1
64.0    1
66.0    1
Name: new_price, Length: 100, dtype: int64

In [24]:
try:
    giannakazakou['price'] = giannakazakou['price'].str.replace(u'€', '') 
    giannakazakou['price'] = giannakazakou['price'].str.replace(',', '.')
    giannakazakou['price'] = giannakazakou['price'].astype(float)
except:
    pass

giannakazakou['price'].value_counts()

89.00     58
99.00     47
59.00     42
69.00     34
109.00    32
          ..
269.00    1
185.00    1
2.99      1
8.40      1
127.00    1
Name: price, Length: 142, dtype: int64

In [25]:
giannakazakou.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4388 entries, 0 to 4387
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   scraping_time     4388 non-null   datetime64[ns]
 1   website_id        4388 non-null   int64
 2   main_website_url  4388 non-null   object
 3   product_link      4388 non-null   object
 4   product_title     4388 non-null   object
 5   old_price         3472 non-null   float64
 6   new_price         3472 non-null   float64
 7   price             916 non-null    float64
 8   brand             4388 non-null   object
 9   product_code      4388 non-null   object
 10  images            4388 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 377.2+ KB

In [26]:
giannakazakou.to_csv('giannakazakou_mod.csv', index=False)